pandas
torchaudio
torch
tqdm
numpy
tensorboard
fastapi
librosa
pydantic
soundfile


scipy
scikit-learn
matplotlib

uvicorn
requests
pillow
transformers

ffmpeg-python
pytorch-lightning
hydra-core
omegaconf
pytorch-metric-learning
wandb
pytest